<%= form_for(@uncategorized_object) do |f| %>
  <% if @uncategorized_object.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@uncategorized_object.errors.count, "error") %> prohibited this uncategorized_object from being saved:</h2>

      <ul>
      <% @uncategorized_object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
