<h1>O mnie</h1>

<div class="about-whole-wrapper">
  <div class="about-avatar">
    <p><%= image_tag("avatar.png", :class => "avatar") %></p>
  </div>
  <div class="about-wrapper">
    <div class="about-description">
      <p>Studentka konserwacji i restauracji dzieł sztuki, specjalizacji malarstwa Akademii Sztuk Pięknych im. Jana Matejki w Krakowie.
      Zajmuję się również konserwacją archiwalnych materiałów fotograficznych (II letni kurs na ASP Kraków).
      Hobbystycznie uprawiam grafikę warsztatową i cyfrową oraz zajmuję się fotografiką tradycyjną w nurcie street fotography,
      a także pejzażową  i portretową - głównie osób bliskich.</p>
      
      <p>Obecny blog autorski to swego rodzaju azyl promujący zbiór szeroko pojętej twórczości wizualnej,
      do którego chciałabym teraz serdecznie zaprosić Ciebie,
      Drogi Widzu  Miłego odbioru!</p>
    </div>
  </div>
</div>