<h1>Portfolio</h1>
<div class="home-gallery">
  <% @paintings.each do |painting| %>
  <div class="home-thumbnail">
     <%= link_to image_tag("#{painting.my_file.url(:thumb)}"), painting %>
   </div>
  <% end %>
</div>
