<%= form_for(@fotografika) do |f| %>
  <% if @fotografika.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fotografika.errors.count, "error") %> prohibited this fotografika from being saved:</h2>

      <ul>
      <% @fotografika.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
