<ul class="top-links">
  <li><%= link_to 'Moje Prace', static_pages_home_path %></li>
  <li><%= link_to 'O mnie', static_pages_about_path %></li>
  <li><%= link_to 'Admin', static_pages_upload_path %></li>
  <li><%= link_to 'Kontakt', static_pages_contact_path %></li>
</ul>