<ul class="top_links">
  <li><%= link_to 'Home', static_pages_home_path %></li>
  <li><%= link_to 'About', static_pages_about_path %></li>
  <li><%= link_to 'Upload', static_pages_upload_path %></li>
  <li><%= link_to 'Contact', static_pages_contact_path %></li>
</ul>