*{
  font-family: 'Coda', cursive!important;
}

body {
  margin: 0;
  background: image-url("black_paper");
}


a:link {
  color: #fff;
  text-decoration: none;
  transition: color 0.2s;
}


/* visited link */


/* mouse over link */
a:hover {
    background: none!important;
}

/* selected link */
a:active {
    color: blue;
}

.site_container {
  margin-top: 40px;
  margin-left: 120px;
  margin-right: 120px;
} 





