*{
  font-family: 'Coda', cursive!important;
}

body {
  margin: 0;
  background: image-url("black_linen_v2");
}

a {
  color: gray;
  text-decoration: none;
  transition: color 0.2s;
}

a:hover {
    background: none!important;
    color: white;
}

.site_container {
  margin-top: 40px;
  margin-left: 120px;
  margin-right: 120px;
} 





