html *{
  font-family: 'Coda', cursive;
}

body {
  margin: 0;
  background: image-url("wood_1");
}

a:hover{
   background: none!important;
}

.main_wrapper {
  height: 100vh;
}

a {
  color: #fff;
  text-decoration: none;
  transition: color 0.2s;
}

.site_container {
  margin-top: 40px;
  margin-left: 120px;
  margin-right: 120px;
} 





