// Place all the styles related to the Paintings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.paintings-show-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
}

.paintings-index {
  border: none;
  display: flex;
  flex-direction: column;
}

.paintings-links {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}

.paintings-nav {
  display: flex;
  justify-content: space-around;
  font-size: 14px;
}
